@media (max-width: 1025px) {
  .content-container-loading-page {
    flex-direction: column-reverse;
  }
  .right-side-container-loading-page {
    width: 100% !important;
    align-items: center !important;
  }
  .title-container-loading-page {
    font-size: 50px !important;
  }
  .subtitle1-container-loading-page {
    font-size: 15px !important;
  }
}



@media screen and (max-width: 1024px) and (max-height: 600px) {
  .content-container-loading-page {
    flex-direction: row;
  }
  .right-side-container-loading-page {
    width: 30% ;
    align-items: center ;
  }
  .title-container-loading-page {
    font-size: 50px ;
  }
  .subtitle1-container-loading-page {
    font-size: 15px ;
  }
}

